---
title: Container for feature viewer  
---
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <!-- D3 library -->
        <script src="https://d3js.org/d3.v4.min.js" charset="utf-8" ><jsp:text></jsp:text></script>   
        <script src="https://cdn.jsdelivr.net/npm/protvista-uniprot@2.7.0-beta.3/dist/protvista-uniprot.js" ><jsp:text></jsp:text></script>
    </head>
    <body>
        <div>
            <tags:loader size="40" id="mainContentLoader"/>
        </div>
        <div style="width:958px;">
            <protvista-uniprot accession="P04637"></protvista-uniprot>
        </div>
    </body>
</html>
