<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page">
	<head>
        <!-- D3 library -->
        <script src="https://d3js.org/d3.v4.min.js" charset="utf-8" ><jsp:text></jsp:text></script>   
        <script src="https://cdn.jsdelivr.net/npm/protvista-uniprot@2.7.0-beta.3/dist/protvista-uniprot.js" ><jsp:text></jsp:text></script>
	</head>
	<body>
		<protvista-uniprot-structure accession="P05067"></protvista-uniprot-structure>
	</body>
</html>		